@font-face {
  font-family: "CustomFont";
  src: url('../font/KaushanScript-Regular.ttf') format('truetype')
}

body {
  font-family: "CustomFont";
  text-align: center;
  color: red;
  background-color: black;
  background-image: url(../img/ghost.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
}

p {
  font-size: larger;
}

.hidden {
  display: none;
}